<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="wsHttpEndpoint">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://filelocalscs.salestaxonline.com/SCS.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttpEndpoint"
                contract="ISCS" name="wsHttpEndpoint" />
        </client>
    </system.serviceModel>
</configuration>