<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="CallerIp" value="64.66.71.130"/>
    <add key="AccessKey" value="Test123"/>
    <add key="ValidateCallerIp" value="No"/>
  </appSettings>
  
  <system.web>
    <compilation targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    
  <bindings>
    <wsHttpBinding>
      <binding name="wsHttpEndpointBinding">
        <!--<security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>-->
        <security mode="Transport">
          <transport clientCredentialType="None"/>
          <message establishSecurityContext="false"/>
        </security>
      </binding>
    </wsHttpBinding>
  </bindings>

  <services>
    <service name="SCSWcf.SCSWebService" behaviorConfiguration="wsHttpEndpointBehavior">
      <host>
        <baseAddresses>
          <add baseAddress="https://taxportal.bellevuewa.gov/SCSWebService.svc"/>
        </baseAddresses>
      </host>
      <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpEndpointBinding" name="wsHttpEndpoint" contract="SCSWcf.ISCSWebService" />
      <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
    </service>
  </services>
  
  
    <behaviors>
      <serviceBehaviors>
        <behavior name="wsHttpEndpointBehavior">
          <serviceMetadata httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    
    <!--<protocolMapping>
      <add binding="wsHttpBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>-->
  
  </system.serviceModel>
 
   <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
     <handlers>
       <add name="svc-Integrated-4.0" path="*.svc" verb="*" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" resourceType="File" preCondition="integratedMode" />
     </handlers>
   </system.webServer>
  
    <connectionStrings>
    <add name="PraxisDev" connectionString="Data Source=VCOBSSDBTS15;Initial Catalog=PRAXIS;Persist Security Info=True;User ID=BtlsUser;Password=1 f0r the money;App=Praxis" providerName="System.Data.SqlClient"/>
    <add name="PraxisStg" connectionString="Data Source=COBSSDBTS15;Initial Catalog=PRAXIS_STAGING;Persist Security Info=True;User ID=BtlsUser;Password=1 f0r the money;App=Praxis" providerName="System.Data.SqlClient"/>
    <add name="Praxis" connectionString="Data Source=sqlclusterbelle\bellevue;Initial Catalog=PRAXIS_Prod;Persist Security Info=True;User ID=BtlsUser;Password=1 f0r the money;App=Praxis" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>